{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/signupstyle.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/change_password.js' %}"></script>


    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid p-3">
    <h1 align="center">Change Password</h1>
    {# <p class="text-black-50" align="center">Change password for no reason...</p>#}
</div>
<fieldset style="margin: auto;">
    <div class="wrapper bg-white">
        <div class="h4 text-muted text-center pt-2">Fill the form</div>
        <form class="pt-3" method="POST" action="" enctype="multipart/form-data" id="change_password_form">
            {% csrf_token %}
            <div class="form-group py-2">
                <label class="text-secondary">Old password:</label>
                <div class="input-field">
                    {# <input type="text" placeholder="old password" required>#}
                    {{ form.old_password }}
                </div>
            </div>
            <div class="form-group py-2">
                <label class="text-secondary">New password:</label>
                <div class="input-field">
                    {# <input type="text" placeholder="new password" required>#}
                    {{ form.new_password }}
                </div>
            </div>

            <div class="form-group py-2">
                <label class="text-secondary">Confirm new password:</label>
                <div class="input-field">
                    {# <input type="text" placeholder="confirm new password" required>#}
                    {{ form.new_password_check }}
                </div>
            </div>

            <button class="btn btn-block text-center my-3" type="button" id="changePasswordBtn">Change password</button>
        </form>

    </div>
</fieldset>

</body>
</html>