{% extends 'base.html' %}
{% load static %}


{% block title %}Basket{% endblock %}


{% block content %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'product:index' %}">Home</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="عرض/إخفاء لوحة التنقل">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>

<div class="container">
    <div class="row" style="margin-top: 6%">
        <h2>Your Shopping Cart </h2>
        <table class="table table-striped table-hover">
            <thead style="background-color: #5AC8FA">
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Unit Price</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in products.items %}

            <tr>
                <td>
                    <div class="product-image">
                        <a href="{% url 'product:detail' key.id %}">
                            <img src="https://pocketnow.com/files/2021/03/iphone-13-concept.jpg" alt="Product Image"
                                 class="product-frame"
                                 style="height: 130px; width: auto"></a>
                    </div>

                </td>
                <td>
                    <div class="product-name" style="height: 130px; width: 250px" dir="rtl">
                        <h6>{{ key.name }}</h6>

                    </div>

                </td>
                <td>
                    <div class="quantity">
                        <input type="number" value="{{ value }}" min="1" class="quantity-field">
                    </div>
                </td>
                <td>
                    <a href="{% url 'order:cart_remove' key.id %}" class="btn btn-danger btn-sm btn-block delete-btn"
                       style="background-color: #ff5d48">
                        Delete
                    </a>
                </td>
                <td>{{ key.price }}</td>
                <td>{{ key.total_price }}</td>
            </tr>

            {% endfor %}
            <tr style="background-color: #5AC8FA">
                <td><b>Total</b></td>
                <td colspan="4"></td>
                <td colspan="num"><b>{{ cart.get_total_price }}</b></td>
            </tr>
            </tbody>
        </table>
        <p class="text-center ">
            <a href="{% url 'product:index' %}" class="btn btn-primary">Continue Shopping</a>
            <a href="" class="btn btn-default">Checkout</a>
        </p>
    </div>
</div>


{% endblock %}
