{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Shabnam font-->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css" rel="stylesheet"
          type="text/css"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard-rtl/">
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet"
          integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/dashboard/dashboard.rtl.css" rel="stylesheet">
    <title>Cart detail</title>
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{% url 'product:index' %}">Home</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="عرض/إخفاء لوحة التنقل">
        <span class="navbar-toggler-icon"></span>
    </button>

</header>
<div class="container p-5">

    <div class="container">
        <div class="row">

            <div class="col-md-10 col-md-offset-3 body-main">

                <div class="col-md-12">
                    <form action="{% url 'order:checkout' %}" method="POST">
                        {% csrf_token %}
                        <div class="row text-left">

                            <h4 style="color: #ee09cf;"><strong>Online Shop</strong></h4>

                            <div class="col-12 d-flex justify-content-left mt-4">
                                <div class="col-12 d-flex justify-content-left">
                                    {% for address in addresses %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address_id"
                                               id="{{ address.id }}" value="{{ address.id }}" required>
                                        <label class="form-check-label" for="{{ address.id }}">
                                            {{ address.address_line }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-left mt-2">
                                <div class="col-12 d-flex justify-content-left">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="email_id"
                                               id="{{ email.id }}" value="{{ email.id }}" required>
                                        <label class="form-check-label" for="{{ email.id }}">
                                            {{ customer.email }}
                                        </label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>Billing info</h2>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        <p>Product</p>
                                    </th>
                                    <th>
                                        <p>price</p>
                                    </th>
                                    <th>
                                        <p>quantity</p>
                                    </th>
                                    <th>
                                        <p>total price</p>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in products.items %}
                                <tr>
                                    <td class="col-md-4">{{ key.name }}</td>
                                    <td class="col-md-2"><i class="fas fa-rupee-sign"></i>
                                        {{ key.price }}
                                    </td>
                                    <td class="col-md-2"><i class="fas fa-rupee-sign"></i>
                                        {{ value }}
                                    </td>

                                    <td class="subtotal " style="width: 20%">{% widthratio key.price 1 value %}</td>
                                </tr>
                                {% endfor %}
                                <tr>

                                    <td colspan="3" class="text-right">
                                        <h6><strong>Total Amount: </strong></h6>
                                        <h6><strong>Discount: </strong></h6>
                                    </td>
                                    <td>
                                        <h6 ><strong><i class="fas fa-rupee-sign" id="total_price" value="{{ total_price }}"> </i>
                                        </strong> <span id="span_price"> {{ total_price }} </span></h6>
                                        <h6><strong><i class="fas fa-rupee-sign" id="discount"></i>

                                        </strong></h6>
                                    </td>
                                    <td>
                                        <h6><strong><i class="fas fa-rupee-sign"> </i>Toman</strong></h6>
                                        <h6><strong><i class="fas fa-rupee-sign"></i>Toman</strong></h6>
                                    </td>
                                </tr>
                                <tr style="color: #f80202;">
                                    <td colspan="3" class="text-right">
                                        <h6><strong>Payable Amount:</strong></h6>
                                    </td>
                                    <td>
                                        <h6><strong><i class="fas fa-rupee-sign" area-hidden="true"
                                                       id="final_price"></i>

                                        </strong></h6>
                                    </td>
                                    <td>
                                        <h6><strong><i class="fas fa-rupee-sign"> </i>Toman</strong></h6>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary mb-4" id="btnPayment" type="submit">
                                Payment
                            </button>

                        </div>
                    </form>

                </div>

                <form id="discount_form" action="" class="mt-5">

                    <div class="row">
                        <div class="col-3">
                            <input type="text" id="discount_code" placeholder="Discount code"
                                   name="discount_code">
                        </div>
                        <input type="hidden" id="user_id" value="{{ user.id }}">
                        <div class="col-3">
                            <button class="btn btn-danger btn-sm applyBtn" id="applyBtn" type="submit">Apply
                            </button>
                        </div>
                    </div>

                </form>
                <div class="summary-item row"><span
                        class="text col-12" id="error" style="color: red"></span>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/discount.js' %}"></script>

</html>


