{% extends 'product/base.html' %}

{% block title %} Product list {% endblock %}

{% block content %}
 <div class="container mb-20">

            <div class="card">

                <!--card header-->
                <div class="card-header card-header-right-border">

                    <!--header caption-->
                    <div class="card-header_caption">
                        <div class="card-header_caption-title">
                            <div class="card-header_caption-text">پیشنهاد روز</div>
                        </div>
                    </div>
                    <div class="card-header_tools">
                        <a href="/search?dailyOffer=true">
                            مشاهده همه
                        </a>
                    </div>
                    <!--header caption end-->

                </div>
                <!--card header end-->
                <!--slider and card body-->
                <div class="position-relative">
                    <!-- Swiper -->
                    <div class="swiper-container swiper-container-products">
                        <div class="swiper-wrapper">

<div class="row">
<!--product item-->
<div class="swiper-slide">
    <div class="product-box product-box_hover" id="gtm-product-box-11672" data-seen="false">

        <!--product image and badge-->
        <a href="/11672" class="product-box_image" data-click="showProductDetail" data-productid="11672" data-storeid="1966" data-supplier="False" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
            <img src="/assets/img/lazyload.png" data-src="" alt="پنیر سفید پروبیوتیک  400 گرمی رامک" width="210" height="210" class="swiper-lazy ">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-dark"></div>
                <div class="product-box_discount"><span>%19<small>تخفیف</small></span></div>
        </a>
        <!--product image and badge end-->
        <!--product title-->
        <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_title text-dark" title="پنیر سفید پروبیوتیک  400 گرمی رامک"><h2 style="font-size: 0.85rem">پنیر سفید پروبیوتیک  400 گرمی رامک</h2></a>
        <!--product title end-->
        <!--product content-->
        <div class="product-box_content">

            <!--price-->
            <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_price" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
                        <del>220,000</del>
                    <div class="product-box_price-value text-secondary">178,200 <span class="product-box_price-currency">ریال</span></div>
            </a>

            <!--price end-->
            <!--action-->
            <div class="product-box_action" data-qty="1" data-productid="11672">
                        <button type="button" class="btn btn-primary add-to-cart gtm-add-to-cart pr-8 pl-8" id="gtm-add-to-cart-11672" data-productid="11672" data-storeid="1966" data-supplier="False" data-qty="1"><i class="ico ico-color_plus-circle filter-none"></i>افزودن به سبد</button>
            </div>
            <!--action btn-->

        </div>
        <!--product content end-->

    </div>
</div>
<!--product item end-->

<!--product item-->
<div class="swiper-slide">
    <div class="product-box product-box_hover" id="gtm-product-box-11672" data-seen="false">

        <!--product image and badge-->
        <a href="/11672" class="product-box_image" data-click="showProductDetail" data-productid="11672" data-storeid="1966" data-supplier="False" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
            <img src="/assets/img/lazyload.png" data-src="" alt="پنیر سفید پروبیوتیک  400 گرمی رامک" width="210" height="210" class="swiper-lazy ">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-dark"></div>
                <div class="product-box_discount"><span>%19<small>تخفیف</small></span></div>
        </a>
        <!--product image and badge end-->
        <!--product title-->
        <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_title text-dark" title="پنیر سفید پروبیوتیک  400 گرمی رامک"><h2 style="font-size: 0.85rem">پنیر سفید پروبیوتیک  400 گرمی رامک</h2></a>
        <!--product title end-->
        <!--product content-->
        <div class="product-box_content">

            <!--price-->
            <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_price" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
                        <del>220,000</del>
                    <div class="product-box_price-value text-secondary">178,200 <span class="product-box_price-currency">ریال</span></div>
            </a>

            <!--price end-->
            <!--action-->
            <div class="product-box_action" data-qty="1" data-productid="11672">
                        <button type="button" class="btn btn-primary add-to-cart gtm-add-to-cart pr-8 pl-8" id="gtm-add-to-cart-11672" data-productid="11672" data-storeid="1966" data-supplier="False" data-qty="1"><i class="ico ico-color_plus-circle filter-none"></i>افزودن به سبد</button>
            </div>
            <!--action btn-->

        </div>
        <!--product content end-->

    </div>
</div>
<!--product item end-->

    <!--product item-->
<div class="swiper-slide">
    <div class="product-box product-box_hover" id="gtm-product-box-11672" data-seen="false">

        <!--product image and badge-->
        <a href="/11672" class="product-box_image" data-click="showProductDetail" data-productid="11672" data-storeid="1966" data-supplier="False" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
            <img src="/assets/img/lazyload.png" data-src="" alt="پنیر سفید پروبیوتیک  400 گرمی رامک" width="210" height="210" class="swiper-lazy ">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-dark"></div>
                <div class="product-box_discount"><span>%19<small>تخفیف</small></span></div>
        </a>
        <!--product image and badge end-->
        <!--product title-->
        <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_title text-dark" title="پنیر سفید پروبیوتیک  400 گرمی رامک"><h2 style="font-size: 0.85rem">پنیر سفید پروبیوتیک  400 گرمی رامک</h2></a>
        <!--product title end-->
        <!--product content-->
        <div class="product-box_content">

            <!--price-->
            <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_price" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
                        <del>220,000</del>
                    <div class="product-box_price-value text-secondary">178,200 <span class="product-box_price-currency">ریال</span></div>
            </a>

            <!--price end-->
            <!--action-->
            <div class="product-box_action" data-qty="1" data-productid="11672">
                        <button type="button" class="btn btn-primary add-to-cart gtm-add-to-cart pr-8 pl-8" id="gtm-add-to-cart-11672" data-productid="11672" data-storeid="1966" data-supplier="False" data-qty="1"><i class="ico ico-color_plus-circle filter-none"></i>افزودن به سبد</button>
            </div>
            <!--action btn-->

        </div>
        <!--product content end-->

    </div>
</div>
<!--product item end-->

    <!--product item-->
<div class="swiper-slide">
    <div class="product-box product-box_hover" id="gtm-product-box-11672" data-seen="false">

        <!--product image and badge-->
        <a href="/11672" class="product-box_image" data-click="showProductDetail" data-productid="11672" data-storeid="1966" data-supplier="False" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
            <img src="/assets/img/lazyload.png" data-src="" alt="پنیر سفید پروبیوتیک  400 گرمی رامک" width="210" height="210" class="swiper-lazy ">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-dark"></div>
                <div class="product-box_discount"><span>%19<small>تخفیف</small></span></div>
        </a>
        <!--product image and badge end-->
        <!--product title-->
        <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_title text-dark" title="پنیر سفید پروبیوتیک  400 گرمی رامک"><h2 style="font-size: 0.85rem">پنیر سفید پروبیوتیک  400 گرمی رامک</h2></a>
        <!--product title end-->
        <!--product content-->
        <div class="product-box_content">

            <!--price-->
            <a href="/11672" data-click="showProductDetail" data-productid="11672" class="product-box_price" title="پنیر سفید پروبیوتیک  400 گرمی رامک">
                        <del>220,000</del>
                    <div class="product-box_price-value text-secondary">178,200 <span class="product-box_price-currency">ریال</span></div>
            </a>

            <!--price end-->
            <!--action-->
            <div class="product-box_action" data-qty="1" data-productid="11672">
                        <button type="button" class="btn btn-primary add-to-cart gtm-add-to-cart pr-8 pl-8" id="gtm-add-to-cart-11672" data-productid="11672" data-storeid="1966" data-supplier="False" data-qty="1"><i class="ico ico-color_plus-circle filter-none"></i>افزودن به سبد</button>
            </div>
            <!--action btn-->

        </div>
        <!--product content end-->

    </div>
</div>
<!--product item end-->


</div>


<h5>List of product: </h5>
<img src="media/product/search.svg" alt="search icon"/>
<img src="media/product/cart.svg" alt="cart icon"/>
<img src="media/product/phone.svg" alt="phone icon"/>
<img src="media/product/mylogo.png" height="40" alt="فروشگاه">

{% if product_list %}
<ul>

    {% for product in product_list %}
    <li>
        <a href="{% url 'product:detail' product.id %}">{{ product.title }}</a>

    </li>
    {% endfor %}
</ul>
{% else %}
{% endif %}
{% endblock %}

