<nav class="navbar smart-scroll navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">

            <li class="nav-item"><a class="nav-link" href="{% url 'product:index' %}"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'customer:profile' %}"> Profile </a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'product:product_detail' %}"> product_detail </a></li>

            {% for cat in category %}
            {% if cat.parent == None %}
            <li>
                <a class="dropdown-item" href="{% url 'products:category' cat.id %}">
                    {{ cat.name }}
                </a>
                {% if cat.children.all %}

                {% endif %}
            </li>
            {% endif %}
            {% endfor %}


        </ul>
    </div>

    <div class="text-white" style="margin-right: 38%; font-size: 20px;">Shop</div>

    {% if request.user.is_authenticated %}
    <span style="color: white; margin-right: 20px">Hello {{ request.user }}</span>
    <span><a href="{% url 'customer:logout' %}" class="text-light nav-link"
             style="margin-right: 20px">Log out</a> </span>
    {% endif %}

</nav>