<div id="mycontent">


    <!--header-->
    <header class="d-none d-lg-block">

        <!--navbar top-->
        <div class="bg-light">
            <div class="container">
                <div class="d-flex align-items-center">
                    <!-- phone, blog-->

                    <div class="mr-auto d-flex align-items-center flex-shrink-0">

                        <!--about-->
                        <a href="https://github.com/Sajjad2117" target="_blank"
                           class="btn btn-sm font-weight-bold rounded-0 px-16" style="font-size:12px">
                            درباره ما
                        </a>
                        <a href="https://github.com/Sajjad2117" target="_blank"
                           class="btn btn-sm font-weight-bold rounded-0 px-16" style="font-size:12px">
                            تماس با ما
                        </a>
                        <!--about end-->
                        <!--phone-->
                        <div class="mr-24">
                            <div class="text-caption">
                                <img src="/media/product/phone.svg" alt="phone icon"/>
                            </div>
                        </div>
                        <!--phone end-->
                    </div>
                    <!--phone, blog end-->

                </div>
            </div>
        </div>
        <!--navbar top end-->
        <!--navbar search-->
        <div class="bg-light py-16">
            <div class="container d-flex align-items-center ">
                <!--logo-->
                <a href="{% url 'product:index' %}" class="ml-auto">
                    <img src="/media/product/mylogo.png" height="48" alt="فروشگاه اینترنتی">
                </a>
                <!--logo end-->


                <!--search-->
                <div class="mx-auto w-50-xl w-50-lg search-container">
                    <form action="/search" data-action="" id="frmSearch" autocomplete="off" class="search-box ">
                        <!--search box text input-->
                        <div id="total-search-input"
                             class="d-flex flex-nowrap justify-content-between align-items-center input-group form-control"
                             style="box-shadow:none ;padding:0 0 0 2px; box-sizing:border-box; background: rgba(22, 22, 22, 0.04);">
                            <div id="search-input" class="d-flex w-80 align-items-center" style="padding-right:24px">
                                <img src="/media/product/search.svg" alt="search icon"/>
                                <input autocomplete="off" name="keyword" type="text" id="search-field"
                                       class="form-control shadow-none h-100 gtm-search-field"
                                       style="border:none;background:transparent"
                                       placeholder="Search"/>
                                <input name="sort" type="hidden" value="7"/>
                            </div>
                            <div>
                                <button id="search-button"
                                        class="btn btn-outline-primary d-flex  justify-content-center align-content-center float-left"
                                        style="width:100px; height:40px; font-size:14px; border-radius: 10px ; padding:unset 20px;"
                                        type="submit">جستجو
                                </button>
                            </div>
                        </div>

                        <!--search box text input end-->
                        <!--search box dropdown-->
                        <div class="search-result search-box-dropdown gtm-search-result-container"
                             style="font-size:14px"></div>
                        <!--search box dropdown end-->
                    </form>
                </div>

                <!--search end-->

                <!--login - shopping cart-->
                <div class="mr-auto d-flex align-items-center">
                    <!--login dropdown-->
                    <div class="dropdown ml-24">
                        <a class="btn btn-flat-dark px-24"
                           style="background-color: rgba(22, 22, 22, 0.08); font-size:14px; width:150px"
                           href="/customer/login/">ورود / ثبت نام</a>
                    </div>
                    <!--login dropdown end-->

                    <!--shopping cart-->


                        <button class="btn  cart-wrapper position-relative p-0" type="button"
                                id="offcanvas-trigger-cart">

                            <div class="topCartCount bag-item-count">0</div>
                            <img src="https://cdn3.iconfinder.com/data/icons/e-commerce-2-2/380/1-512.png"
                                 style="width: 45px;height:45px;" alt="cart icon"/>

                        </button>
                    <!--shopping cart end-->


                </div>
                <!--login - shopping cart end-->

            </div>
        </div>
        <!--navbar search end-->
    </header>
    <!--header end-->
</div>


<nav class="navbar smart-scroll navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #c2c1c1;">
                    دسته بندی کالاها
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    {% for category in categories %}
                    <div>
                        <!-- category section -->


                        <a class="dropdown-item text-right"
                           href="{% url 'product:product_by_category' category.name %}">
                            {{ category }}</a>

                    </div>
                    {% endfor %}
                </div>


                <!--            <li class="nav-item "><a class="nav-link" href="{% url 'product:index' %}"> کالای دیچیتال </a></li>-->
                <!--            <li class="nav-item"><a class="nav-link" href="{% url 'product:index' %}"> مدو و پوشاک </a></li>-->
                <!--            <li class="nav-item"><a class="nav-link" href="{% url 'product:index' %}">خانه و آشپزخانه </a></li>-->
                <!--            <li class="nav-item"><a class="nav-link" href="{% url 'product:index' %}"> لوازم بهداشتی </a></li>-->

        </ul>
    </div>

    <!--        <div class="text-white " style="margin-left: 38%; font-size: 20px;">فروشگاه سجاد</div>-->

    {% if request.user.is_authenticated %}
    <span style="color: white; margin-right: 20px">Hello {{ request.user }}</span>
    <span><a href="{% url 'customer:profile' %}" class="text-light nav-link"
             style="margin-right: 20px">Profile</a> </span>
    <span><a href="{% url 'customer:logout' %}" class="text-light nav-link"
             style="margin-right: 20px">Log out</a> </span>

    {% endif %}

</nav>